<h1>Welcome to Classy...</h1>

    <div class="row">
      <div class="col-sm-6">
         <%= image_tag "cat.png", width: "100%", height:"auto", justify: "center" %>
      </div>
      <div class="col-sm-6">
         <%= image_tag "cat.png", width: "100%", height:"auto", justify: "center" %>
      </div>
      
    </div>