<h1 class="text-center">New Category</h1>
<hr />
<row><a href="<%= cats_path %>" class="btn btn-primary pull-left" style="display:inline-block">Back to Categories</a></row><br><br>

<div class="text-center">
  <%= form_for(@cat) do |c| %>
    <h3> Name <%= c.text_field(:name) %></h3>
    </br>
    <%= c.submit "Save", class:"myButton" %>
  <% end %>
</div><br>
